<%= search_field(@mantenimiento) do |f| %>
  <% @mantenimiento.errors.full_messages.each do |message| %>
    <div class="error">
      <%= message %>
    </div>
  <% end %>	
	<div class="search">
		
		<%= f.text_field :item, placeholder:"Search", class:"forms move" %>
		
		<%= f.submit " ", class:"form" %>
	</div>
<% end %>