
<% if user_signed_in? %>
  <h1>Bienvenido <%=current_user.email%> empieza a buscar el producto que necesitas</h1>
<%end%>

<div class="search">
	<input class="forms move" type="text" placeholder="Search">
	<%= submit_tag " ", class:"form" %>
</div>